//- this is the table cell mixin
//- optional can put width and padding
mixin responsiveCell(cellWidth, xPadding, yPadding, xAlign, yAlign)
	table.force-row(bgcolor="#{rowBackgroundColor}" width="#{cellWidth}", border="0", cellpadding="0", cellspacing="0", align="left", style="width: #{cellWidth}px;")
		tr
			td.col(valign="#{yAlign}" align="#{xAlign}")
				.colPadding(style="padding-left: #{xPadding}px; padding-right: #{xPadding}px; padding-top: #{yPadding}px; padding-bottom: #{yPadding}px;")
					block

mixin normalCell(cellWidth, xPadding, yPadding, align)
	td(bgcolor="#{rowBackgroundColor}" valign="top" align="#{align}" width="#{cellWidth}" style="width: #{cellWidth}; padding-left: #{xPadding}px; padding-right: #{xPadding}px; padding-top: #{yPadding}px; padding-bottom: #{yPadding}px;")
		block



//- uset for define template what you chuse
block cellAtribute

//- quarantine
//- cell 1
	if cell == "one"
		- cellType = "withoutProd"
		- cellType = "withProd"

		case cellType

			when "withoutProd"
				tr
					td.content(align="left")
						.container-padding
							block cellContent

			when "withProd"
				tr
					td.content(align="left")
						table.force-row(width="600", border="0", cellpadding="0", cellspacing="0", style="width: 600px;")
							tr
								td.cols-wrapper
									+responsiveCell("600", "15", "15", "left", "middle")
										block cellContent
//- cell 1
if cell == "fullWidth"

	tr
		td.content(align="left")
			table( width="100%", border="0", cellpadding="0", cellspacing="0", style="width: 100%;")
				tr
					block fullWidth
					//- put some cells
						+normalCell("300", "5", "5", "left")
							block fullWidth
//- cell 2
if cell == "twoEqual"
	tr
		td.content(align="left")
			table.force-row(bgcolor="#{rowBackgroundColor}" width="600", border="0", cellpadding="0", cellspacing="0", style="width: 600px;")
				tr
					td.cols-wrapper

						<!--[if mso]><table border="0" width="600" cellpadding="0" cellspacing="0" style="width: 600px;"><tr><td width="300" style="width: 300px;" valign="top"><![endif]-->
						block cellContent1
								//+responsiveCell("300", "15", "15")
								//- include ../template/prod


						<!--[if mso]></td><td width="300" style="width: 300px;" valign="top"><![endif]-->

						block cellContent2
							//+responsiveCell("300", "15", "15")
							//- include ../template/prod

						<!--[if mso]></td></tr></table><![endif]-->


if cell == "twoEqualNotResponsive"

	tr
		td.content(align="left")
			table( width="100%", border="0", cellpadding="0", cellspacing="0", style="width: 100%;")
				tr
					block cellContent1
					//- put some cells
						+normalCell("300", "5", "5", "left")
							block cellContent1
						+normalCell("300", "5", "5", "right")
							block cellContent2


//- cell 3
if cell == "threeEqual"

	tr
		td.content(align="left")
			table.force-row(bgcolor="#{rowBackgroundColor}" width="600", border="0", cellpadding="0", cellspacing="0", style="width: 600px;")
				tr
					td.cols-wrapper

						<!--[if mso]><table border="0" width="600" cellpadding="0" cellspacing="0" style="width: 600px;"><tr><td width="200" style="width: 200px;" valign="top"><![endif]-->

						+responsiveCell("200", "15", "15", "left", "middle")
							block cellContent1

						<!--[if mso]></td><td width="200" style="width: 200px;" valign="top"><![endif]-->

						+responsiveCell("200", "15", "15", "left", "middle")
							block cellContent2

						<!--[if mso]></td><td width="200" style="width: 200px;" valign="top"><![endif]-->

						+responsiveCell("200", "15", "15", "left", "middle")
							block cellContent3

						<!--[if mso]></td></tr></table><![endif]-->

//- cell 4
if cell == "fourEqual"
	tr
		td.content(align="left")
			table.force-row(bgcolor="#{rowBackgroundColor}" width="600", border="0", cellpadding="0", cellspacing="0", style="width: 600px;")
				tr
					td.cols-wrapper

						<!--[if mso]><table border="0" width="600" cellpadding="0" cellspacing="0" style="width: 600px;"><tr><td width="150" style="width: 150px;" valign="top"><![endif]-->

						+responsiveCell("150", "15", "15", "left", "middle")
							block cellContent1

						<!--[if mso]></td><td width="150" style="width: 150px;" valign="top"><![endif]-->

						+responsiveCell("150", "15", "15", "left", "middle")
							block cellContent2

						<!--[if mso]></td><td width="150" style="width: 150px;" valign="top"><![endif]-->

						+responsiveCell("150", "15", "15", "left", "middle")
							block cellContent3

						<!--[if mso]></td><td width="150" style="width: 150px;" valign="top"><![endif]-->

						+responsiveCell("150", "15", "15", "left", "middle")
							block cellContent4

						<!--[if mso]></td></tr></table><![endif]-->