
//- prodTitle 			= "title prod"
//- prodDescription		= "prod despription"
//- prodImage				= "http://placehold.it/600x600" 
//- prodPrice 			= "23"
//- prodNormalPrice 		= "23"

block prodColor


block view
	table.img-wrapper(border="0", cellpadding="0", cellspacing="0")
		tr
			td
				a(href="#{prodLink}")
					//- img.image(src="#{prodImage}", border="0", alt="#{prodDescription}", width="168", height="110", hspace="0", vspace="0", style="max-width:100%; ")
					img.image.pattern(src="#{prodImage}" alt="#{prodTitle}", width="100%", height="", style="display: block; border: 0;")
				br
	table(border="0", cellpadding="0", cellspacing="0")
		tr
			td.subtitle
				a(href="#{prodLink}") #{prodTitle}
		tr
			td.col-copy #{prodDescription}
		tr
			td
				p 
					if prodPrice
						| #{prodPrice} |
					if prodNormalPrice
						| #{prodNormalPrice}

