extends ../../template/_cells

block cellAtribute
	- cell = 			"twoEqual"
	- template = 		"twoBanner"
	include ../../config/config

	block twoBannerInfo
block cellContent1
	- twoBannerimage 	= 1
	+responsiveCell("300", "0", "0")
		if debug
			p(style="color: #{colorDebug}; background: #{colorBgDebug}; padding: 5px;") #{template}
		a(href="#{linkBanner01}#{prefixTraking}#{data}#{lang}_#{trakingSource}_banner1_#{sufixTraking}" style="max-width:100%;padding: 0px; border-spacing: 0px; margin: 0px;")
			img(src="#{templateImagesPath}#{imgBanner01}_#{lang}.jpg" border="0" alt="#{copyBanner01}" target="_blank" width="100%" hspace="0" vspace="0" style="max-width:100%; display:block; float: left;")

block cellContent2

	- twoBannerimage 	= 2
	+responsiveCell("300", "0", "0")
		if debug
			p(style="color: #{colorDebug}; background: #{colorBgDebug}; padding: 5px;") #{template}
		a(href="#{linkBanner01}#{prefixTraking}#{data}#{lang}_#{trakingSource}_banner2_#{sufixTraking}" style="max-width:100%;padding: 0px; border-spacing: 0px; margin: 0px;")
			img(src="#{templateImagesPath}#{imgBanner02}_#{lang}.jpg" border="0" alt="#{copyBanner01}" target="_blank" width="100%" hspace="0" vspace="0" style="max-width:100%; display:block; float: left;")
