block generalData
	// editor data here

block containerAtribute
	- template = "containerMail"
	include ../../config/config

doctype html
html(lang="#{lang}")

	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//- So that mobile will display zoomed in

		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		//- enable media queries for windows phone 8

		meta(name="format-detection", content="telephone=no")
		//- disable auto telephone linking in iOS

		title #{emailTitle}

		link(rel="stylesheet", type="text/css", href="assets/css/style.css")
		link(rel="stylesheet", type="text/css", href="assets/css/responsive.css")

	body(style="margin:0; padding:0;", bgcolor="#{rowBackgroundColor}", leftmargin="0", topmargin="0", marginwidth="0", marginheight="0")
		if debug
			p(style="color: #{colorDebug}; background: #{colorBgDebug}; padding: 5px;") #{template}
		//- 100% background wrapper (grey background)
		table(border="0", width="100%", height="100%", cellpadding="0", cellspacing="0")
			tr
				td(align="center", valign="top")

					//- 600px container (white background)
					table.container(border="0", width="600", cellpadding="0", cellspacing="0")
						block emailContent
							include ../preheader/preheader
