extends ../../template/_cells

block cellAtribute
	- cell 				= "fullWidth"
	- template 			= "footer"
	- trakingSource 	= "headerLogo"
	include ../../config/config


block fullWidth
	if debug
		p background color = #{rowBackgroundColor}

	if site == "fiorentina"
		td(align="center" valign="top" bgcolor="#{rowBackgroundColor}")
			table.container(border="0" width="600" cellpadding="0" cellspacing="0")
					//- footer
					tr
						td.container-padding.footer-text(align="left" style="#{fontSize}#{fontSans} color: #{fontColor};")
							center
								br
								span.ios-footer
									//- contact
									| #{copyContact} 
									a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
										strong(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
								br
								br
								| #{reasonCopy00}
								a(href="http://www.fiorentinastore.com/#{lang}#{prefixTraking}#{data}#{lang}#{reasonLink}" style="color:#{linkColor}; #{decNone}")
									strong(style="color:#{linkColor}; #{decNone}") #{LogoStoreTxt}store.com
								| #{reasonCopy01}
								a(href="mailto:${email}$" style="color:#{linkColor}; #{decNone}")
									strong(style="color:#{linkColor}; #{decNone}") ${email}$
								br
								| #{unsubscribeCopy}
								a(href="#{unsubscribeLink}" style="color:#{linkColor}; #{decNone}")
									strong(style="color:#{linkColor}; #{decNone}") #{unsubscribeLinkCopy}
								|.
								br
								br
	if site == "fir"
		tr
			td(align="center" valign="top" bgcolor="#{rowBackgroundColor}")
				table.container(border="0" width="600" cellpadding="0" cellspacing="0")
						//- footer
						tr
							td.container-padding.footer-text(align="left" style="#{fontSize}#{fontSans} color: #{fontColor};")
								center
									br
									span.ios-footer
										//- contact
										| #{copyContact} 
										a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
											span(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
									br
									br
									| #{reasonCopy00}
									a(href="http://www.laziostyle.com/#{lang}#{prefixTraking}#{data}#{lang}#{reasonLink}" style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{LogoStoreTxt}store.com
									| #{reasonCopy01}
									a(href="mailto:${email}$" style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") ${email}$
									br
									| #{unsubscribeCopy}
									a(href="#{unsubscribeLink}" style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{unsubscribeLinkCopy}
									|.
									br
									br

	if site == "lazio"
			tr
				td(align="center" valign="top" bgcolor="#{rowBackgroundColor}")
					table.container(border="0" width="600" cellpadding="0" cellspacing="0")
							//- footer
							tr
								td.container-padding.footer-text(align="left" style="#{fontSize}#{fontSans} color: #{fontColor};")
									center
										br
										span.ios-footer
											//- contact
											| #{copyContact} 
											a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
												span(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
										br
										br
										| #{reasonCopy00}
										a(href="http://www.laziostyle.com/#{lang}#{prefixTraking}#{data}#{lang}#{reasonLink}" style="color:#{linkColor}; #{decNone}")
											span(style="color:#{linkColor}; #{decNone}") #{LogoStoreTxt}store.com
										| #{reasonCopy01}
										a(href="mailto:${email}$" style="color:#{linkColor}; #{decNone}")
											span(style="color:#{linkColor}; #{decNone}") ${email}$
										br
										| #{unsubscribeCopy}
										a(href="#{unsubscribeLink}" style="color:#{linkColor}; #{decNone}")
											span(style="color:#{linkColor}; #{decNone}") #{unsubscribeLinkCopy}
										|.
										br
										br
	if site == "f4u"
		tr
			td(align="center" valign="top" bgcolor="#{rowBackgroundColor}")
				table.container(border="0" width="600" cellpadding="0" cellspacing="0")
						//- footer
						tr
							td.container-padding.footer-text(align="left" style="#{fontSize}#{fontSans} color: #{fontColor};")
								center
									br
									span.ios-footer
										//- contact
										| #{copyContact} 
										a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
											span(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
									br
									br
									| #{reasonCopy00}
									a(href="http://www.footbal4u.com/#{lang}#{prefixTraking}#{data}#{lang}#{reasonLink}" style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{LogoStoreTxt}.it
									| #{reasonCopy01}
									a(href="mailto:${email}$" style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") ${email}$
									br
									| #{unsubscribeCopy}
									a(href="#{unsubscribeLink}" style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{unsubscribeLinkCopy}
									|.
									br
									br