//- TRAKING
- sufixTraking 			= "&ga_medium=DEM&ga_source=NL"
- prefixTraking			= "?ga_campaign="

// content default
- LogoStoreTxt = "lazio"
- socialIconList = [{"socialName":"instagram", "socialURL":"http://instagram.com/official_sslazio"},{"socialName":"facebook", "socialURL":"http://www.facebook.com/SSLazioOfficialPage?sk=app_218693601539727"},{"socialName":"twitter", "socialURL":"https://twitter.com/officialsslazio"},{"socialName":"youTube", "socialURL":"https://www.youtube.com/user/Officialsslazio"},{"socialName":"forSquare", "socialURL":"https://it.foursquare.com/officialsslazio"}]

- viewOnlineLink				= "${online_version_url}$"

if lang == "en"
	- LogoImgLink 				= "http://www.laziostylestore.com/en"

	//- copy preheader
	- onlineVersionCopy				= "for web version, "
	- viewOnline					= "click here"

	//- copy Header
	- folowUscopy 					= "follow us on"

	//- menu Nav
	- navListLink = [{"navItem":"115","navItemLink":"http://www.laziostylestore.com/en/115-years.html","lastItemNav":false},{"navItem":"MATCH KITS","navItemLink":"http://www.laziostylestore.com/en/match-kits.html","lastItemNav":false},{"navItem":"FASHION","navItemLink":"http://www.laziostylestore.com/en/fashion.html","lastItemNav":false},{"navItem":"ACCESSORIES","navItemLink":"http://www.laziostylestore.com/en/accessories.html","lastItemNav":false},{"navItem":"COVERS","navItemLink":"http://www.laziostylestore.com/en/covers.html","lastItemNav":false},{"navItem":"GIFT IDEAS","navItemLink":"http://www.laziostylestore.com/en/gift-ideas.html","lastItemNav":false},{"navItem":"CLEARANCE","navItemLink":"http://www.laziostylestore.com/en/clearance.html","lastItemNav":true}]
	//- footer
	- copyContact 				= "Contact us "
	- copyContactMailLink		= "customercare@laziostylestore.com"
	- contactMailLink 			= "mailto:customercare@laziostylestore.com"

	- reasonCopy00				= "You are receiving the following communication as your are subscribed to "
	- reasonCopy01				= " 's newsletter with the following e-mail: "

	- unsubscribeCopy 			= "Don't want to receive email Updates? "
	- unsubscribeLink 			= "http://clientsection.contactlab.it/service/unsubscribe/wfc/1220014859042/d/${encoded_user_data}$/k/${form_verification_code}$/lang/en/"
	- unsubscribeLinkCopy 		= "Unsubscribe here"



if lang == "it"
	- LogoImgLink 				= "http://www.laziostylestore.com/it/"

	//- copy preheader
	- onlineVersionCopy				= "versione web, "
	- viewOnline					= "clicca qui"

	//- copy Header
	- folowUscopy 					= "seguici su"

	//- menu Nav
	- navListLink = [{"navItem":"115","navItemLink":"http://www.laziostylestore.com/en/115-years.html","lastItemNav":false},{"navItem":"KIT GARA","navItemLink":"http://www.laziostylestore.com/it/kit-gara.html","lastItemNav":false},{"navItem":"ABBIGLIAMENTO","navItemLink":"http://www.laziostylestore.com/it/abbigliamento.html","lastItemNav":false},{"navItem":"ACCESSORI","navItemLink":"http://www.laziostylestore.com/it/accessori.html","lastItemNav":false},{"navItem":"COVER","navItemLink":"http://www.laziostylestore.com/it/cover.html","lastItemNav":false},{"navItem":"IDEE REGALO","navItemLink":"http://www.laziostylestore.com/it/idee-regalo.html","lastItemNav":false},{"navItem":"OUTLET","navItemLink":"http://www.laziostylestore.com/it/outlet.html","lastItemNav":true}]

	//- footer
	- copyContact 				= "Contattaci "
	- copyContactMailLink		= "customercare@laziostylestore.com"
	- contactMailLink 			= "mailto:customercare@laziostylestore.com"

	- reasonCopy00				= "Ricevi questa comunicazione in quanto iscritto/a al servizio di informazione periodica di "
	- reasonCopy01				= " con l'indirizzo e-mail "

	- unsubscribeCopy 			= "Per disiscriverti dalla newsletter "
	- unsubscribeLink 			= " http://clientsection.contactlab.it/service/unsubscribe/wfc/1120014854008/d/${encoded_user_data}$/k/${form_verification_code}$/"
	- unsubscribeLinkCopy 		= "Clicca qui"

